html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  position: relative;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
}

/* Sections */

section,
footer {
  padding: 5% 15%;
}

.light-section {
  background-color: #efefef;
  color: #343a40;
}

.dark-section {
  background-color: #343a40;
  color: #efefef;
}

.section-title {
  padding-bottom: 5%;
  letter-spacing: 1px;
}

/* Modal */

.modal-dialog-centered.modal-dialog-scrollable {
  height: unset !important;
}

.modal-content {
  max-height: 600px !important;
}

.modal-body {
  padding: unset;
}

.modal-image {
  max-width: 100%;
}

@supports (grid-template-columns: 70% 30%) {
  .modal-footer {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 30px auto;
    grid-template-areas:
      "tech tech"
      "description btn";
  }
}

@supports not (grid-template-columns: 70% 30%) {
  .modal-description {
    width: 80%;
  }
  .modal-div-button {
    margin-left: auto;
  }
}

.modal-footer {
  height: 21.5%;
  flex-direction: column;
  font-weight: bold;
}

.modal-tech-list {
  text-align: left;
  color: #007bff;
  font-size: 1.2rem;
  grid-area: tech;
}

.modal-description {
  text-align: left;
  color: gray;
  grid-area: description;
}

.modal-div-button {
  align-self: end;
  text-align: right;
  grid-area: btn;
}

.modal-button {
  border: solid 2px #343a40;
  font-weight: bold;
}

/* Nav Bar */

#navbar-target {
  padding: 8px 15%;
}

.navbar-toggler {
  border: none;
}

.navbar-brand {
  font-family: "Cookie", cursive;
  font-size: 1.5rem;
}

.navbar-brand i {
  font-size: 1rem;
}

.nav-pills .nav-link.active {
  background-color: unset;
  color: #007bff;
  font-weight: bold;
}

/* Home */

.big-tittle {
  font-size: 2.8rem;
  padding-bottom: 5%;
}

.picture {
  width: 100%;
  max-width: 350px;
  border: solid 2px #343a40;
}

.self-description {
  text-align: left;
}

.self-description-tittle {
  font-size: 2.3rem;
  padding-bottom: 3%;
}

.self-description-text {
  padding-bottom: 3%;
}

.self-description-button {
  width: 130px;
  margin-right: 3%;
  color: #efefef;
}

.button-text {
  display: inline-block !important;
  margin: 0;
}

/* Skills */

.skill-title {
  text-align: left;
  margin-bottom: 7px;
}

.progress {
  margin-bottom: 3%;
  height: 15px;
}

.progress-bar {
  width: 0%;
  background: linear-gradient(to right, #17a2b8, #007bff);
  transition: width 800ms;
}

/* Projects */

.all-project-container {
  max-width: 1125px !important;
  margin: 0 auto;
}

.project-container {
  position: relative;
  min-width: 325px !important;
  max-width: 375px !important;
  width: 33.33333%;
  padding: 22.2222% 0 0;
}

.project-img {
  background-size: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.project-description {
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  position: absolute;
  padding: 10% 3%;
  z-index: 1;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.project-description:hover {
  -webkit-animation: 1s fade forwards;
  animation: 1s fade forwards;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.project-title {
  font-size: 1.8rem;
}

.project-tech-list {
  font-size: 1.3rem;
  font-weight: bold;
  color: #007bff;
  padding-bottom: 10%;
}

.project-button {
  border: solid 2px #343a40 !important;
  border-radius: unset !important;
  font-weight: bold;
}

.project-button:hover {
  cursor: pointer;
}

.project1 .project-img {
  background-image: url("../images/fylo-project.jpg");
  background-color: #fff5d7;
}

.project2 .project-img {
  background-image: url("../images/tindog-project.jpg");
  background-color: #ff4c68;
}

.project3 .project-img {
  background-image: url("../images/roll-project.jpg");
  background-color: #222c37;
}

/* Footer */

.footer-button {
  margin: 0 10px 0;
}

.copyright {
  margin: 15px 0 0;
}

/*--------------------------------------------- Responsive ---------------------------------------------*/

/* First breaking point for the project section (less than 1650px) */

@media (max-width: 1649.98px) {
  /* Projects */

  .all-project-container {
    width: 650px !important;
  }

  .project-container {
    width: 50%;
    padding: 33.33333% 0 0;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  /* Modal */

  .modal-dialog {
    max-width: none !important;
    margin: 0 15%;
  }

  .modal-content {
    max-height: 600px !important;
  }

  /* Home */

  .picture {
    max-width: 325px;
  }

  .self-description-button {
    width: auto;
    max-width: 130px;
  }
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
  /* Sections */

  section,
  footer {
    padding: 5% 10%;
  }

  /* Modal */

  .modal-dialog {
    max-width: none !important;
    margin: 0 10%;
  }

  .modal-content {
    max-height: 900px !important;
  }

  .modal-footer {
    display: unset;
    grid-template-columns: unset;
    grid-template-rows: unset;
    grid-template-areas: unset;
    text-align: center;
  }

  .modal-description {
    padding-bottom: 10px;
  }

  .modal-div-button {
    text-align: left;
  }

  /* Nav */

  #navbar-target {
    padding: 8px 10%;
  }

  /* Home */

  .picture {
    margin-bottom: 5%;
  }

  .self-description {
    text-align: center;
  }

  .self-description-button {
    width: 130px;
  }

  /* Skills */

  .skill-title {
    text-align: center;
    margin: 5% 0 2%;
  }

  .progress {
    height: 12px;
  }
}

/* Second breaking point for the project section (less than 850px) */
@media (max-width: 849.98px) {
  /* Projects */

  .cf-project {
    padding: 0 !important;
  }

  .all-project-container {
    max-width: 325px !important;
  }

  .project-container {
    padding: 66.6666% 0 0 !important;
    margin: 0 auto;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  /* Nav Bar */

  .navbar-toggler {
    padding: 0;
  }

  #navbar-target {
    padding: 8px 5%;
  }

  /* Sections */

  section,
  footer {
    padding: 10% 5%;
  }

  .section-title {
    letter-spacing: unset;
  }

  /* Modal */

  .modal-dialog {
    max-width: none !important;
    margin: 0 5%;
  }

  .modal-description {
    max-width: unset;
  }

  /* Home */

  .big-tittle {
    font-size: 2.2rem;
  }

  .self-description {
    padding: unset;
  }

  /* Skills */

  .skill-title {
    margin: 6% 0 2%;
  }

  .progress {
    height: 10px;
  }
}
